.homepage{
    height: 95vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    padding: 0% 25%;
}

.homepage-heading{
    margin-top: -15%;
}

.homepage-subheading{
    margin-top: 2%;
}

.homepage-btn{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    font-family: "Questrial", sans-serif;
}